<a href="https://colab.research.google.com/github/mansaeng/Machine-Learning/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 필요한 모듈 Importing
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import (
    ensemble,
    preprocessing,
    tree,
)
from sklearn.metrics import (
    auc,
    confusion_matrix,
    roc_auc_score,
    roc_curve,
)
from sklearn.model_selection import (
    train_test_split,
    StratifiedKFold,
)
from yellowbrick.classifier import (
    ConfusionMatrix,
    ROCAUC,
)
from yellowbrick.model_selection import (
    LearningCurve,
)

# 판다스는 데이터를 가공 처리하는 모듈이다.
# 사이킷런은 예측 모델링을 제공한다.
# 옐로우브릭은 모델 검증을 위한 시각화 라이브러리이다.


# from ~ import ~ 형식으로 Importing 할 때 (
#   이렇게,
#   Pythonic한 방법을,
#   이제 알았다.
# )

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.metrics.classification module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)

# *from pandas import **

별표를 사용하여 라이브러리를 불러들이면
명시적이지 않으므로 코드 이해가 어려워진다.
지정해서 불러오는 습관을 들이자.

In [2]:
# 머신러닝에 필요한 데이터 가져오기
url = (
    "https://biostat.app.vumc.org/wiki/pub/Main/DataSets/titanic3.xls"
)
df = pd.read_excel(url) # 판다스의 read_excel은 파일 뿐만이 아니라 url의 데이터도 가져올 수 있다.
orig_df = df

**주어진 데이터 :**
> 타이타닉호 탑승객 데이터

**목표 :**
> 해당 탑승객이 생존했는지 사망했는지 예측(분류)

In [3]:
# dtypes로 데이터 타입을 확인할 수 있다.
# 데이터 타입을 분류할 수 없다고 판단되면 object로 분류된다.
df.dtypes

pclass         int64
survived       int64
name          object
sex           object
age          float64
sibsp          int64
parch          int64
ticket        object
fare         float64
cabin         object
embarked      object
boat          object
body         float64
home.dest     object
dtype: object

In [4]:
# .shape로 행과 열의 개수를 알 수 있다.
df.shape

(1309, 14)

In [5]:
# .describe()로 데이터의 통계적 요약을 알 수 있다.
# 이것을 이용하면 데이터셋에서 이용해야 할 데이터가 무엇인지 어떻게 이용할 지 대략적으로 알 수 있을 것 같다.
# count값을 확인하면 누락된 데이터를 알 수 있다.
# min과 max값을 이상치의 유무를 확인할 수 있다.
df.describe()

            pclass     survived  ...         fare        body
count  1309.000000  1309.000000  ...  1308.000000  121.000000
mean      2.294882     0.381971  ...    33.295479  160.809917
std       0.837836     0.486055  ...    51.758668   97.696922
min       1.000000     0.000000  ...     0.000000    1.000000
25%       2.000000     0.000000  ...     7.895800   72.000000
50%       3.000000     0.000000  ...    14.454200  155.000000
75%       3.000000     1.000000  ...    31.275000  256.000000
max       3.000000     1.000000  ...   512.329200  328.000000

[8 rows x 7 columns]

In [6]:
# .isnull().sum() 으로 데이터의 누락수를 알 수 있다.
df.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [8]:
mask = df.isnull().any(axis=1)

In [11]:
mask.head()

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [12]:
df[mask].body.head()

0      NaN
1      NaN
2      NaN
3    135.0
4      NaN
Name: body, dtype: float64